/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/*.log
/storage/debugbar
composer.lock
package-lock.json
_ide_helper.php
.env
.env.backup
.idea
.phpstorm.meta.php
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
package-lock.json
npm-debug.log
yarn-error.log
3GPSMDK.properties
